/* Estilos gerais do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Container principal do formulário */
.login-container {
    max-width: 400px; /* Largura máxima do formulário */
    margin: 100px auto; /* Centraliza verticalmente e horizontalmente */
    padding: 20px;
    background-color: white; /* Fundo branco para o formulário */
    border-radius: 15px; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.384); /* Sombra suave */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilo do título */
h2 {
    text-align: center; /* Centraliza o título */
    color: #3498db; /* Cor azul */
}

/* Estilo da mensagem */
b {
    display: block; /* Faz com que a mensagem fique em uma nova linha */
    text-align: center; /* Centraliza a mensagem */
    color: #e74c3c; /* Vermelho */
    margin: 10px 0; /* Espaçamento vertical */
}

/* Estilo dos inputs */
input[type="email"], input[type="password"] {
    width: 100%; /* Largura total do campo */
    padding: 10px; /* Espaçamento interno */
    margin: 10px 0; /* Espaçamento vertical */
    border: 1px solid #ddd; /* Borda cinza */
    border-radius: 4px; /* Bordas arredondadas */
    box-sizing: border-box; /* Inclui padding e borda na largura total */
}

/* Estilo do botão */
button {
    width: 100%; /* Largura total do botão */
    padding: 10px; /* Espaçamento interno */
    margin: 10px 0; /* Espaçamento vertical */
    background-color: #3498db; /* Cor de fundo azul */
    color: white; /* Cor do texto */
    border: none; /* Remove bordas */
    border-radius: 4px; /* Bordas arredondadas */
    cursor: pointer; /* Muda o cursor para mão ao passar o mouse */
    transition: background-color 0.3s; /* Efeito de transição para a cor de fundo */
}

/* Efeito hover para o botão */
button:hover {
    background-color: #070707; /* Cor mais escura ao passar o mouse */
}

/* Estilo do link */
a {
    display: block; /* Faz o link ocupar a largura total */
    text-align: center; /* Centraliza o link */
    color: #111011; /* Cor do link */
    margin-top: 10px; /* Espaçamento acima do link */
    text-decoration: none; /* Remove o sublinhado */
}

a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}
