<div class="container">

    <h4>{{mensagem}}</h4>

    <h3 class="produtos" *ngIf="lista.length <= 0">
        Não existem produtos na vitrine
    </h3>

    <div class="product-list">
        <div class="product-item" *ngFor="let item of lista">
            <h4>{{item.nome}}</h4>
            <a (click)="verDetalhe(item)">
            <img src="./assets/{{item.codigo}}.webp" width="150px"><br>
            </a>
            <p>{{item.descritivo}}</p>
            <p class="valor">R$ {{item.valor}}</p>
            <button (click)="verDetalhe(item)">Ver Mais</button>
            <div *ngIf="item.quantidade <= 0" class="sem-estoque">Sem estoque</div>
        </div>
    </div>
</div>
